* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 982px;
    font-size: 15px;
    font-family: Georgia, serif;
    color: #333333;
}

.wrapper {
    background: url(images/head.jpg) no-repeat 49.5% 0;
}

.conteiner {
    min-height: 250px;
    width: 982px;
    height: auto;
    text-align: left;
    margin: 0 auto;
    padding: 194px 0 47px;
}

.content {
    display: block;
    float: left;
    width: 982px;
}

.left-block {
    margin-top: 43px;
    display: inline;
    padding-left: 10px;
    background: url(images/left.jpg) repeat-y top;
    float: left;
    width: 260px;
}

.left-block>h3 {
    font-size: 16px;
    color: #666666;
    padding-left: 15px;
    background: url(images/separator.gif) no-repeat left 50%;
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
    color: #595959;
    padding: 2px 0 8px 0;
}

.block-content {
    padding: 10px 20px 30px 10px;
}

ul,
li {
    list-style-type: none;
}

.categories a {
    margin: 0 5px;
    padding: 9px 0 9px 9px;
    text-decoration: none;
    font-weight: bold;
    color: #661d18;
    font-size: 15px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #cccccc;
}

.left-block>.search-input::-webkit-input-placeholder {
    background: url(images/yandex-hint-rb.png) no-repeat left 100%;
}

.search-input {
    width: 204px;
    border: 1px solid #7F9DB9;
    padding: 2px 4px;
}

.search-button {
    padding: 2px 6px;
    border: none;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.4);
}

.main-block {
    display: inline;
    float: left;
    overflow: hidden;
    width: 689px;
    padding: 50px 0 0 14px;
}

.text-main-block {
    padding: 10px 0;
    font-size: 16px;
    word-spacing: 2px;
    line-height: 130%;
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

h1 {
    font-size: 24px;
    color: #d40000;
    margin: 2px 0 2px 7px;
}

.text-main-block::first-letter {
    font-size: 35px;
    font-weight: bold;
    color: #d40000;
    font-family: cursive;
    padding-left: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-right: -5px;
    float: left;
    margin-top: -10px;
    line-height: 1em;
    margin-bottom: -10px;
}

.poem {
    white-space: pre;
}

.soc-block {
    float: right;
    margin: 30px;
}

.soc-block-icon {
    float: left;
    height: 24px;
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 1px 2px 1px #ddd;
    background: linear-gradient(0deg, #E7E7E7, #fff);
}

.odnoklassniki-icon {
    position: relative;
    top: -414px;
    left: 3px;
    margin: 1px;
}

.mail-icon {
    position: relative;
    top: -292px;
    left: 3px;
    margin: 1px;
}

.vk-icon {
    position: relative;
    top: -270px;
    left: 3px;
    margin: 1px;
}

.facebook-icon {
    position: relative;
    top: -318px;
    left: 3px;
    margin: 1px;
}

.twit-icon {
    position: relative;
    top: -342px;
    left: 3px;
    margin: 1px;
}

.google-icon {
    position: relative;
    top: -640px;
    left: 3px;
    margin: 1px;
}

.pen-icon {
    position: relative;
    top: -390px;
    left: 3px;
    margin: 1px;
}

.like-icon {
    position: relative;
    top: -513px;
    left: 3px;
    margin: 1px;
}

.dislike-icon {
    position: relative;
    top: -487px;
    left: 3px;
    margin: 1px;
}

.soc-block-icon:nth-child(3) {
    border: none;
    float: left;
    width: 300px;
    height: 24px;
    overflow: hidden;
    margin: 2px;
    padding-right: 6px;
    box-shadow: none;
    background: none;
    color: #878787;
    text-align: right
}
